/* src/components/Navbar.module.css */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--bg-alt);
  padding: 0.75rem 0;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-alt);
  font-size: 0.9rem;
  transition: var(--transition);
}

.active {
  color: var(--primary);
}

.icon {
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
  .link span {
    display: none; /* hanya ikon di mobile */
  }
}
